// アイデア投稿
.p-ideaPost{
  width: 90%;
  margin: 0 auto;
  @include mq(md){
    width: 100%;
  }
  &__form{
    &--posted{
      width: 90%;
      margin: 0 auto;
      height: 300px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-around;
      font-size: $font-size_xxl;
      margin-bottom: $spacing-lg;
      flex-direction: column;
    }
  }
  &__annotation{
    font-size: $font-size_md;
  }
  &__label{
    display: flex;
    flex-direction: column;
    &--wrapper{
      display: block;
      margin-bottom: $spacing-md;
    }
  }
  &__btn{
    float: right;
    &--container{
      margin-top: $spacing-lg;
    }
    &--remove{
      background:$color_remove;
      color:$color_white;
      
    }
  }
  &__price{
    &--mark{
      display: inline-block;
      margin-top: auto;
    }
  }
  &__textarea{
    height: 300px;
  }
  &__row{
    margin-bottom: $spacing_xl;
  }
}