.p-index{
  &__mainImg{
    margin-bottom: $spacing_lg;
  }
}

.p-buy{
  &__btn{
    &--wrapper{
      margin-bottom: 0;
    }
  }
}

// 気になるボタン
.p-interest{
  &__btn{
    width: 120px;
  }
}

// 口コミ投稿フォーム
.p-postReview{
  &__formRow--btn{
    margin-top: $spacing-xxl;
  }
}
